body {
    background-color: #111;
    color: hsl(75, 94%, 57%);
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
}

h1 {
    font-size: 3rem;
}

.hr {
    border: 1px hsl(75, 94%, 57%) solid;
    margin: 2rem 0;
}

input[type=text], .textarea, .button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.date, .button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
